<div class="modal-header">
    <h3 class="modal-title">New Recipe</h3>
</div>

<div class="modal-body">
    <form ng-submit="save()">
        <div class="form-group">
            <label for="recipe-name">Name</label>
            <input type="text" id="recipe-name" class="form-control" placeholder="Recipe name" ng-model="nr.name" required autofocus>
        </div>
        <div class="form-group">
            <label for="recipe-author">Author</label>
            <input type="text" id="recipe-author" class="form-control" placeholder="Recipe author" ng-model="nr.author" required>
        </div>
        <div class="form-group">
            <label for="recipe-cat">Category</label>
            <input type="text" id="recipe-cat" class="form-control" placeholder="Category" ng-model="nr.category" typeahead="category for category in meta.categories | filter:$viewValue | limitTo:8" required>
        </div>

        <div ng-repeat="section in nr.sections">
            <div ng-show="nr.sections.length > 1" class="form-group">
                <label for="section-{{$index+1}}-name">Name</label>
                <input type="text" id="section-{{$index+1}}-name" class="form-control" placeholder="Recipe name" ng-model="nr.sections[$index].name">
            </div>
            <label>Ingredients</label>
            <div class="container-fluid well">
                <div ng-repeat="ing in section.ingredients" class="col-sm-6">
                    <span>{{ing.name}}</span>
                    <span>{{ing.qty}}</span>
                    <span>{{ing.unit}}</span>
					<span style="color:red" class="glyphicon glyphicon-remove clicky" ng-click="section.ingredients.splice($index, 1)"></span>
                </div>
                <i ng-show="section.ingredients.length === 0">Add some ingredients!</i>
            </div>
            <div class="row">
                <div class="col-xs-6 form-group">
					<label>Name</label>
                    <input type="text" id="ing-name" class="form-control" placeholder="Milk" ng-model="ni.name" ng-enter="addIngredient($index, ni)">
                </div>
                <div class="col-xs-2 form-group">
					<label>Qty</label>
                    <input type="text" class="form-control" placeholder="2" ng-model="ni.qty" ng-enter="addIngredient($index, ni)">
                </div>
                <div class="col-xs-2 form-group">
					<label>Units</label>
                    <input type="text" class="form-control" placeholder="cups" ng-model="ni.unit" ng-enter="addIngredient($index, ni)">
                </div>
                <div class="col-xs-1 form-group">
					<label>&nbsp;</label>
                    <button type="button" class="btn btn-success" ng-click="addIngredient($index, ni)"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <br />
            <div class="form-group">
                <label for="section-{{$index+1}}-instructions">Instructions</label>
                <textarea id="section-{{$index+1}}-instructions" class="form-control" placeholder="Instructions" ng-model="nr.sections[$index].instructions" required></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="recipe-tags">Tags</label>
            <div style="display: inline-block;">
                <span ng-click="nr.tags.splice($index, 1);" ng-mouseenter="h = true;" ng-mouseleave="h=false;" ng-repeat="tag in nr.tags" class="label label-info r-tag">{{h ? 'Remove tag' : tag}}</span>
            </div>
            <input type="text" id="recipe-tags" ng-model="curTag" class="form-control" placeholder="Type a tag and press return" typeahead="tag for tag in meta.tags | filter:$viewValue | limitTo: 8" ng-enter="addTag(curTag)">
        </div>
        <div class="form-group">
            <label for="recipe-notes">Notes</label>
            <textarea id="recipe-notes" class="form-control" placeholder="notes..." ng-model="nr.notes"></textarea>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="save()">Save</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
</div>
