html, body
{
    height: 100%;
}

.r-tag {
    margin-left: 5px;
    font-size: 0.9em;
}
.r-tag:hover {
    cursor: pointer;
}

.r-tag-noh {
    margin-left: 5px;
    font-size: 0.9em;
}

.clicky {
	cursor: pointer;
}

.ing-qty {
    min-width:40px;
    display: inline-block;
}

.ing-unit {
    min-width: 40px;
    display: inline-block;
}

.ing-name {

}

.r-no-m {
    margin: 0;
}

body.modal-open {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

/* To fix chrome modal scroll bug */
.modal.in {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}
