<div class="container">
    <p><a href="#/search">Browse all recipes</a></p>
    <div class="panel panel-default">
        <div class="panel-heading">Random Favorites</div>
        <ul class="list-group">
            <li ng-click="openRecipe(recipe)" ng-repeat="recipe in favorites track by $index" class="list-group-item clicky recipe-item">
            <img ng-src="/assets/img/{{recipe.icon ? recipe.icon : 'default'}}.png" width=36 height=36 style="margin: -8px 0 -8px 0" tooltip="{{recipe.category}}">
                {{recipe.name}} &mdash; <small style="color:#777">{{recipe.author}}</small>
                <div class="pull-right hidden-xs"><span class="label label-info r-tag-noh" ng-repeat="tag in recipe.tags | limitTo: 3">{{tag}}</span></div>
            </li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Random New</div>
        <ul class="list-group">
            <li ng-click="openRecipe(recipe)" ng-repeat="recipe in newest track by $index" class="list-group-item clicky recipe-item">
            <img ng-src="/assets/img/{{recipe.icon ? recipe.icon : 'default'}}.png" width=36 height=36 style="margin: -8px 0 -8px 0" tooltip="{{recipe.category}}">
            {{recipe.name}} &mdash; <small style="color:#777">{{recipe.author}}</small>
            <div class="pull-right hidden-xs"><span class="label label-info r-tag-noh" ng-repeat="tag in recipe.tags | limitTo: 3">{{tag}}</span></div>
            </li>
        </ul>
    </div>
</div>
