<div class="modal-body">
    <div class="alert alert-danger" ng-show="error">{{error}}</div>
    <div class="alert alert-success" ng-show="success">Your password has been updated.</div>
    <form ng-submit="changepw()" ng-hide="success">
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input type="password" ng-model="pw.newpassword" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">New Password Confirm</label>
            <input type="password" ng-model="pw.newpasswordConfirm" class="form-control">
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-click="changepw()" ng-hide="success">Change Password</button>
    <button class="btn btn-default pull-left" ng-click="close()">Close</button>
</div>
